{% extends 'template.html.twig' %}

{% block content %}
    <div class="card card-container">
        <p class="title">Registration</p>

        <form role="form" method="post">
            {% if requestScope.errors.name %}
                <div class="form-group has-error">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="{{ requestScope.user.name }}"
                           required autofocus/>
                    <span class="help-block">{{ requestScope.errors.name }}</span>
                </div>
            {% else %}
                <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="{{ requestScope.user.name }}"
                           required autofocus/>
                </div>
            {% endif %}
            {% if requestScope.errors.email %}
                <div class="form-group has-error">
                    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address"
                           value="{{ requestScope.user.email }}" required/>
                    <span class="help-block">{{ requestScope.errors.email }}</span>
                </div>
            {% else %}
                <div class="form-group">
                    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address"
                           value="{{ requestScope.user.email }}" required/>
                </div>
            {% endif %}
            {% if requestScope.errors.password %}
                <div class="form-group has-error">
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                           required/>
                    <span class="help-block">{{ requestScope.errors.password }}</span>
                </div>
            {% else %}
                <div class="form-group">
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                           required/>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 form-group">
                    <input class="btn btn-lg btn-primary" value="Sign Up" type="submit">
                </div>
            </div>
        </form>
    </div><!-- /card-container -->

{% endblock %}